<IfModule mod_rewrite.c>
    RewriteEngine On

    # Caminho oficial do servidor da Etec
    RewriteBase /fatec/merenda/
    
    # SE PEDIREM UM ARQUIVO REAL (CSS, JS, IMAGEM, etc), DEIXA PASSAR DIRETO
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # SE PEDIREM QUALQUER OUTRA COISA, MANDA PARA A PASTA PUBLIC
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
</IfModule>

# Impedir listagem de diretórios
Options -Indexes
